@tailwind base;
@tailwind components;
@tailwind utilities;

.my-container{
    @apply mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24
  }

.active{
    @apply font-medium tracking-wide text-blue-700 transition-colors duration-200 hover:text-blue-400
  }
  
.default{
    @apply font-medium tracking-wide text-gray-700 transition-colors duration-200 hover:text-blue-400
  }

@layer utilities {
    .text-gradient {
      color: linear-gradient(90deg, #7E90FE 20%, #9873FF 20%);
    }
  }

@layer utilities {
    .bg-gradient {
      background: linear-gradient(90deg, #7E90FE 20%, #9873FF 20%);
    }
  }


@layer utilities {
    .btn-gradient {
      background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
      border-radius: 8px;
    }
  }
  
  .btn {
    @apply inline-flex items-center h-12 px-6 mb-3 font-medium text-white transition duration-200 rounded shadow-md  md:mb-0;
    @apply btn-gradient;
  }

.title-common {
  @apply font-bold text-black text-3xl
}

.job-btn{
  @apply rounded-md border-2 border-blue-500 text-blue-700 px-2 py-1 font-semibold
}
  